@import '../../style/variables.scss';

.slideshow-container {
  position: relative;
  .coverImage {
    height: 500px;
  }
  .slideshow-nav {
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .slideshow-nav-btn-container {
      min-width: 100%;
      display: flex;
      justify-content: space-between;
      button {
        cursor: pointer;
        border: none;
        background-color: transparent;
      }
    }
  }
  p {
    position: absolute;
    bottom: 8px;
    left: 50%;
    @include white-font;
  }
}

@media only screen and (max-width: $max-width-mobile) {
  .slideshow-container {
    .coverImage {
      height: 300px;
    }
    .slideshow-nav {
      .slideshow-nav-btn-container {
        img {
          height: 50px;
        }
      }
    }
    p {
      display: none;
    }
  }
}
