@import '../../style/variables.scss';

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: 70px 0 100px 0;
  p {
    @include white-font;
    font-size: 12em;
    font-weight: bold;
    color: $accent-color;
    margin: 0;
  }
  h2 {
    @include h2;
  }
  a {
    @include black-font;
    font-size: 1em;
    font-weight: bold;
  }
}
